{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                {% if posts %}
                    {% for post in posts %}
                        <article class="post mb-5">
                            <header>
                                <h2 class="post-title">{{ post.title |safe }}</h2>
                                <p class="post-meta">{{ post.date_posted|date:"F j, Y" }}</p>
                            </header>
                            <section class="post-content">
                                <div class="d-flex justify-content-evenly">
                                    <img src="{{ post.image.url }}" alt="{{ post.slug }}" srcset=""/>
                                    <p> {{ post.content|truncatewords_html:50|safe }} </p>
                                </div>
                            </section>
                            <footer>
                                <p class="post-tags">Tags: {{ post.tags.all|join:", " }}</p>
                            </footer>
                        </article>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>No posts yet.</p>
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}
