{% extends 'base.html' %}
{% load comments %}
{% block content %}
  {% autoescape off %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <div>
      {% if post.image %}<img src="{{ post.image.url }}" alt="{{ post.title }}">{% endif %}
    </div>
    <div>
      {% for tag in post.tags.all %}
        <a href="{% url 'tagged_posts' tag.slug %}">#{{ tag.name }}</a>
      {% endfor %}
    </div>
  {% endautoescape %}
  <div>
    <p>Posted: {{ post.date_posted |timesince }}</p>
    {% get_comment_count for blog.post post.pk as comment_count %}
    <p>{{ comment_count }}  comments have been posted.</p>
    {% render_comment_list for post %}
    {% get_comment_form for post as form %}
    <table>
      <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {{ form }}
        <tr>
          <td colspan="2">
            <input type="submit" name="submit" value="Post">
            <input type="submit" name="preview" value="Preview">
            
          </td>
        </tr>
      </form>
    </table>
 
  </div>
{% endblock %}
