{% extends 'base.html' %}
{% load comments %}
{% load humanize %}
{% block content %}
  {% get_comment_count for blog.post post.pk as comment_count %}
  <table class="table">
    <tr>
      <td>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
      </td>
      <td>
        <p class="h1">{{ post.title |safe }}</p>
        <p class="text-muted">Published {{ post.date_posted |naturaltime  }}.</p>
        <p class="text-muted">
          {{ comment_count }} reviews.
        </br>
        {% for tag in post.tags.all %}
          <a href="{% url 'tagged_posts' tag.slug %}">#{{ tag.name }}</a>
        {% endfor %}
      </p>
      <p>{{ post.content |safe }}</p>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample">
          <i class="bi bi-chat-dots"></i> Add your comment
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">{% render_comment_form for post %}</div>
      </div>
    </td>
  </tr>
</table>
{% comment %}
  {% autoescape off %}
    <h1 class="post-detail">{{ post.title }}</h1>
    <p class="post-detail">{{ post.content }}</p>
    <div class="post-detail">
      {% if post.image %}<img src="{{ post.image.url }}" alt="{{ post.title }}">{% endif %}
    </div>
    <p class="post-detail date">Posted: {{ post.date_posted |timesince }}</p> 
    <div>
      {% for tag in post.tags.all %}
        <a href="{% url 'tagged_posts' tag.slug %}">#{{ tag.name }}</a>
      {% endfor %}
    </div>
  {% endautoescape %}
  <div class="comments">
    {% get_comment_count for blog.post post.pk as comment_count %}
    <p>{{ comment_count }}  comments have been posted.</p> 
    {% render_comment_list for post %}
    {% get_comment_form for post as form %}
    <form action="{% comment_form_target %}" method="post">
      {% csrf_token %}
      {{ form }}
      <tr>
        <td colspan="2">
          <input type="submit" name="submit" value="Post" class="btn">
          <input type="submit" name="preview" value="Preview" class="btn">
        </td>
      </tr>
    </form>
</div> {% endcomment %}
{% endblock %}
