{% load social_share %}
{% block content %}
    {% comment %} {% debug ctx %} {% endcomment %}
    {% for post in posts %}
        <div class="d-flex">
            <div class="p-2 align-self-stretch">
                <img src="{{ post.image.url }}"
                     alt="{{ post.slug }}"
                     width="250"
                     height="300">
            </div>
            <div class="p-2 align-self-stretch">
                <h2 class="h2">{{ post.title |safe }}</h2>
                <i>Published {{ post.date_posted|timesince }} ago</i>
                {% if post.content|length > 100 %}
                    {{ post.content|safe|slice:":100" }}...
                    <a href="{% url 'post_detail' post_pk=post.pk %}">Read more</a>
                {% else %}
                    {{ post.content|safe }}
                {% endif %}
            </br>
            Tags: <b>
            {% spaceless %}
                {% for tag in post.tags.all %}
                    {{ tag }}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            {% endspaceless %}
            <div class="blog-footer"></div>
        </b>
    </div>
    <!-- <div class="p-2 align-self-stretch">{% lorem 10 w random %}</div> -->
</div>
{% empty %}
<p class="text-body-secondary">There is nothing.</p>
{% endfor %}
{% endblock %}
